/* styles-login.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3b5998;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header .favicon {
    vertical-align: middle;
    margin-right: 10px;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #87CEEB;
    color: black;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.welcome-section {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.welcome-section img.welcome-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.welcome-section .welcome-text {
    margin-top: 20px;
}

/* Login/Sign up Styles */
form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    border-radius: 8px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #1A4876;
}

